.primary_button,
.corner_button{
    width: 165px;
    height: 50px;
    font-family: var(--font-family-Ir);
    font-size: 15px;
    color: var(--color-white);
    background: var(--color-blue);
    outline: none;
    cursor: pointer;
    border: none;
    transition: background-color var(--animation);
}


.primary_button:hover,
.primary_button:focus{
    background-color: var(--color-blue-l);
}

.corner_button{
    background: var(--color-gray);
    border: solid 2px var(--color-blue);
    color: var(--color-blue);
}

.corner_button:hover,
.corner_button:focus{
    background-color: var(--color-gray-l2);
}