@font-face {
    font-family: InterB;
    src: url('../fonts/static/Inter_18pt-Bold.ttf');
}

@font-face {
    font-family: InterM;
    src: url('../fonts/static/Inter_18pt-Medium.ttf');
}

@font-face {
    font-family: InterL;
    src: url('../fonts/static/Inter_18pt-Light.ttf');
}

@font-face {
    font-family: InterR;
    src: url('../fonts/static/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: ImprimaR;
    src: url('../fonts/Imprima/Imprima-Regular.ttf');
}