*{
    padding: 0;
    margin: 0;
}

.foottitle{
    padding: 189px 455px 163px 455px ;
    background: url("../image/backgrounds/Maskgroup.png") center no-repeat;
    background-color: #0B1125;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foottitle_text{
    color: var(--color-white);
    font-family: var(--font-family-r);
    font-size: 50px;
    margin-bottom: 20px;
    text-wrap: nowrap;
    text-align: center;
}

.foottitle_knopky{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footitle_button{
    margin-left: 21px;
}

.foottitle_email{
    width: 303px;
    height: 50px;
    background: var(--color-white);
    color: var(--color-gray-l);
    font-family: var(--font-family-Ir);
    font-size: 15px;
    outline: none;
    border: none;
}

.foottitle_email::placeholder{
    padding: 16px 202px 17px 31px;
}

.footitle_button{
    width: 131px;
    height: 50px;
}

@media(max-width:1100px){
    .foottitle_text{
        font-size: 45px;
    }
}

@media(max-width:950px){
    .foottitle_text{
        font-size: 42px;
    }
}

@media(max-width:900px){
    .foottitle_text{
        font-size: 35px;
    }
}

@media(max-width:850px){
    .foottitle{
        padding-left: 100px;
        padding-right: 100px;
    }
    .foottitle_text{
        font-size: 30px;
    }
    .foottitle_email{
        width: 250px;
        height: 45px;
    }
    .footitle_button{
        width: 120px;
        height: 45px;
    }
}



@media(max-width:650px){
    .foottitle{
        padding-left: 10px;
        padding-right: 10px;
    }
    .foottitle_text{
        font-size: 25px;
    }
    .foottitle_email{
        width: 230px;
        height: 40px;
        font-size: 13px;
    }
    .footitle_button{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
}


@media(max-width:550px){
    .foottitle_text{
        font-size: 22px;
    }
    .foottitle_email{
        width: 200px;
        height: 35px;
        font-size: 12px;
    }
    .footitle_button{
        width: 100px;
        height: 35px;
        font-size: 12px;
    }
}

@media(max-width:450px){
    .foottitle{
        background-position: left;
    }

    .foottitle_knopky{
        flex-direction: column;
    }

    .footitle_button{
        margin-top: 15px;
    }
    .foottitle_text{
        font-size: 18px;
    }
    .foottitle_email{
        width: 200px;
        height: 30px;
        font-size: 10px;
    }
    .footitle_button{
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
}



@media(max-width:390px){
    .foottitle_text{
        font-size: 15px;
    }
    .foottitle_email{
        width: 150px;
        height: 30px;
        font-size: 10px;
    }
    .footitle_button{
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
}