*{
    margin: 0;
    padding: 0;
}


.footer{
    background-color: var(--color-dark-blue);
    padding: 96px 297px 52px 297px ;
}

.footer_gap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 90px;

}

.footer_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_logo{
    position: relative;
    margin-right: 11.25px;
    margin-bottom: 40px;
}



.footer_logo_text{
    font-size: 25px;
    font-family: var(--font-family-Ir);
    color: var(--color-white);
}


.for_footer_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.for_footer_div div{
    display: block;
    background-color: var(--color-blue) ;
    width: 128px;
    height: 3px;
    margin-left: 7px;

}



.footer_logo_text{
    margin-bottom: 5px;
    margin-left: 11px;
}

.footer_text{
    display: block;
    font-family: var(--font-family-Ir);
    font-size: 30px;
}

.footer_text_div{
    width: 380px;
    height: 140px;
}



.footer_ul{
    list-style: none;
}

.footer_ul li{
    color: var(--color-white);
    font-family: var(--font-family-Ir);
    font-size: 25px;
    margin-bottom: 26px;
    
}
.footer_ul li:last-child{
    text-wrap: nowrap;
    margin-bottom: 0;
}

.footer_contacts{
    display: block;
    width: 503px;
    height: 301px;
}

.footer_card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 38px;

}

.footer_contacts_title{
    color: var(--color-white);
    font-family: var(--font-family-Ir);
    font-size: 30px;
    margin-bottom: 17px;
}

.footer_card_img{
    margin-right: 20px;

}

.footer_card_text{
    color: var(--color-white);
    font-size: 25px;
    font-family: var(--font-family-Ir);
}






@media(max-width:1600px){
    .footer_gap{
        grid-column-gap: 20px ;
    }
}

@media(max-width:1500px){
    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:1200px){
    .footer{
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer_text{
        font-size: 23px;
        
    }
    .footer_ul li{
        font-size: 23px;
    }
    .footer_card_text{
        font-size: 20px;
    }
    .footer_contacts{
        width: 400px;
    }
    .footer_text_div{
        width: 300px;
    }
}

@media(max-width:1000px){
    .footer_text{
        font-size: 20px;
        
    }
    .footer_ul li{
        font-size: 20px;
    }
    .footer_card_text{
        font-size: 20px;
    }
    .footer_contacts{
        width: 350px;
    }
    .footer_text_div{
        width: 250px;
    }
}

@media(max-width:850px){
    .footer_text{
        font-size: 18px;
        
    }
    .footer_ul li{
        font-size: 18px;
    }
    .footer_card_text{
        font-size: 18px;
    }
    .footer_contacts{
        width: 250px;
    }
    .footer_text_div{
        width: 180px;
    }
}

@media(max-width:700px){
    .footer_text{
        font-size: 18px;
        
    }
    .footer_ul li{
        font-size: 18px;
    }
    .footer_card_text{
        font-size: 18px;
    }
    .footer_contacts{
        width: 250px;
    }
    .footer_text_div{
        width: 180px;
    }
    .footer_logo_text{
        display: none;
    }
    .footer_gap{
        grid-template-columns: 1fr 1fr;
    }
    .footer_spisok{
        margin-left:20px;
    }
}

@media(max-width:460px){
    .footer_spisok{
        display: none;
    }
    .footer_gap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}