.strtegy{
    background: var(--color-white);
    padding: 131px 100px 130px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strtegy_tetx{
    display: block;
    height: 835px;
    width: 632px;
    margin-right: 20px;
}

.strtegy_main_text_title{
    margin-top: 0;
    padding-top: 0;
    margin: 0;
    color: var(--color-black-l2);
    font-size: 50px;
    font-family: var(--font-family-r);
    margin-bottom: 4px;
}

.strtegy_main_text_subtitle{
    margin: 0;
    color: var(--color-gray-l);
    font-size: 30px;
    font-family: var(--font-family-Ir);
    margin-bottom: 42px;

}
.strtegy_main_text_subtitle2{
    margin: 0;
    color: var(--color-gray-l);
    font-size: 30px;
    font-family: var(--font-family-Ir);
    margin-bottom: 35px;
}

.strategy_list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.strategy_element_title{
    margin: 0;
    color: var(--color-black-l2);
    font-size: 32px;
    font-family: var(--font-family-Ir);
    margin-bottom: 10px;
    padding-left: 62px;
}

.strategy_element_subtitle{
    margin: 0;
    color: var(--color-gray-l);
    font-size: 30px;
    font-family: var(--font-family-Ir); 
    padding-left: 62px;
}

.strategy_list li::before{
    position: absolute;
    flex-shrink: 0;
    content: '';
    width: 42px;
    height: 42px;
    display: block;
    margin-right: 20px;
    background: url('../image/logo/galka.svg') center no-repeat;
    
}

.strategy_list li{
    margin-bottom: 46px;
}
.strategy_list li:last-child{
    margin-bottom: 0;
}


.strategy_img{
    display: block;
    height: 835px;
    width: 632px;
    
    
}

.strategy_img img{
    height: 938px;
    width: 684px;
}

@media(max-width:1450px){
    .strtegy{
        padding-left: 50px;
        padding-right: 50px;
    }
    .strategy_img img{
        width: 660px;
    }
    .strategy_element_title{
        font-size: 30px ;
    }
}

@media(max-width:1320px){
    .strtegy{
        padding-left: 50px;
        padding-right: 50px;
    }
    .strategy_img img{
        width: 600px;
        height: 900px;
    }
}


@media(max-width:1250px){
    .strtegy{
        padding-left: 50px;
        padding-right: 10px;
    }
    .strategy_img img{
        width: 570px;
        height: 900px;
    }

    .strtegy_main_text_title{
        font-size: 40px;
    }
    .strtegy_main_text_subtitle{
        font-size: 25px
    }
    .strtegy_main_text_subtitle2{
        font-size: 23px;
    }
    .strategy_element_title{
        font-size: 28px;
    }
    .strategy_element_subtitle{
        font-size: 24px;
    }
    .strategy_list li::before{
        width: 42px;
        height: 42px;
    }
}

@media(max-width:1000px){
    .strtegy{
        padding-left: 50px;
        padding-right: 10px;
    }
    .strategy_img img{
        width: 570px;
        height: 900px;
    }

    .strtegy_main_text_title{
        font-size: 40px;
    }
    .strtegy_main_text_subtitle{
        font-size: 25px
    }
    .strtegy_main_text_subtitle2{
        font-size: 23px;
    }
    .strategy_element_title{
        font-size: 25px;
    }
    .strategy_element_subtitle{
        font-size: 21px;
    }
    .strategy_list li::before{
        width: 42px;
        height: 42px;
    }
}

@media(max-width:941px){
    .strtegy{
        padding: 100px 10px;
    }
    .strategy_img img{
        width: 470px;
        height: 900px;
    }

    .strtegy_main_text_title{
        font-size: 35px;
    }
    .strtegy_main_text_subtitle{
        font-size: 22px
    }
    .strtegy_main_text_subtitle2{
        font-size: 20px;
    }
    .strategy_element_title{
        font-size: 22px;
    }
    .strategy_element_subtitle{
        font-size: 20px;
    }
    .strtegy_tetx{
        margin-right: 22px;
    }
}

@media(max-width:780px){
    .strtegy{
        padding-bottom: 50px;
    }
    
    .strategy_img img{
        width: 400px;
        height: 820px;
    }

    .strtegy_main_text_title{
        font-size: 30px;
    }
    .strtegy_main_text_subtitle{
        font-size: 20px
    }
    .strtegy_main_text_subtitle2{
        font-size: 18px;
    }
    .strategy_element_title{
        font-size: 20px;
    }
    .strategy_element_subtitle{
        font-size: 18px;
    }
    .strtegy_tetx{
        margin-right: 18px;
    }
}

@media(max-width:686px){
    .strtegy{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 20px;
    }
    .strategy_img img{
        width: 280px;
        height: 600px;
    }

    .strtegy_main_text_title{
        font-size: 25px;
    }
    .strtegy_main_text_subtitle{
        font-size: 15px
    }
    .strtegy_main_text_subtitle2{
        font-size: 15px;
    }
    .strategy_element_title{
        font-size: 18px;
    }
    .strategy_element_subtitle{
        font-size: 15px;
    }
    .strtegy_tetx{
        margin-right: 15px;
    }
    .strtegy_tetx{
        height: 660px;
    }
    .strategy_img{
        height: 660px;
    }
}


@media(max-width:570px){
    .strtegy{
        padding: 30px 10px;
    }
    .strategy_list li::before{
        width: 42px;
        height: 42px;
    }
    .strtegy_tetx{
        height: 735px;
    }
    .strategy_img{
        height: 735px;
    }
    .strategy_img img{
        height: 700px;
    }
    

}

@media(max-width:570px){
    .strategy_img{
        display: none;
    }

}

@media(max-width:400px){
    .strtegy{
        padding: 10px;
    }
    

    .strtegy_main_text_title{
        font-size: 25px;
    }
    .strtegy_main_text_subtitle{
        font-size: 20px
    }
    .strtegy_main_text_subtitle2{
        font-size: 20px;
    }
    .strategy_element_title{
        font-size: 23px;
    }
    .strategy_element_subtitle{
        font-size: 17px;
    }
    .strategy_img{
        display: none;
    }
}

@media(max-width:365px){ 
    .strtegy_main_text_title{
        font-size: 23px;
    }
    .strtegy_main_text_subtitle{
        font-size: 18px
    }
    .strtegy_main_text_subtitle2{
        font-size: 18px;
    }
    .strategy_element_title{
        font-size: 20px;
    }
    .strategy_element_subtitle{
        font-size: 17px;
    }
    .strategy_img{
        display: none;
    }
    .strtegy_tetx{
        height: 900px;
    }
}