.studies{
    background: var(--color-gray);
    
    padding: 105px 295px 195px 295px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}

.studies_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.studies_title{
    margin: 0;
    font-family: var(--font-family-r);
    font-size: 50px;
    color: var(--color-black-l2);
    margin-bottom: 4px;
}

.studies_subtitle{
    margin: 0;
    font-family: var(--font-family-Ir);
    font-size: 30px;
    color: var(--color-gray-l);
    
}

.studies_cards{
    margin-top: 87px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 85px;
    
}



.studies_card{
    
    height: 390px;
    width: 387px;
    background: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 23px 33px 23px;
    transition: box-shadow var(--animation);
}

.studies_card:hover,
.studies_card:focus{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


.studies_card img{
    width: 341px;
    height: 214px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.studies_card_text{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studies_card_text_title{
    margin: 0;
    font-size: 25px;
    color: var(--color-white);
    font-family: var(--font-family-r);
    margin-bottom: 5px;
}

.studies_card_text_subtitle{
    margin: 0;
    font-size: 20px;
    color: var(--color-white);
    font-family: var(--font-family-Ir);
    text-align: center;

}

@media(max-width:1200px){
    .studies_cards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
    }
    .studies_title,
    .studies_subtitle{
        text-wrap: nowrap;
    }
}

@media(max-width:650px){
    .studies_title{
        font-size: 35px;
    }
    .studies_subtitle{
        font-size: 30px;
    }

}

@media(max-width:560px){
    .studies_title{
        font-size: 26px;
    }
    .studies_subtitle{
        font-size: 19px;
    }
    .studies_card{
        height: 330px;
        width: 315px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .studies_card img{
        width: 250px;
        height: 200px;
    }
}

@media(max-width:490px){
    .studies{
        padding-left: 200px;
        padding-right: 200px;
    }
    .studies_text{
        text-align: center;
    }
    .studies_title{
        font-size: 23px;
    }
    .studies_subtitle{
        font-size: 16px;
    }
    .studies_card{
        height: 300px;
        width: 280px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .studies_card img{
        width: 220px;
        height: 180px;
    }
}


@media(max-width:360px){
    .studies{
        padding-left: 150px;
        padding-right: 1500px;
    }
    .studies_text{
        text-align: center;
    }
    .studies_title{
        font-size: 20px;
    }
    .studies_subtitle{
        font-size: 14px;
    }
    .studies_card{
        height: 250px;
        width: 200px;
        padding: 15px;
    }
    .studies_card img{
        width: 150px;
        height: 120px;
    }

    .studies_card_text_title{
        font-size: 18px;
    }
    .studies_card_text_subtitle{
        font-size: 15px;
    }
}